/*Custom CSS*/

.slidecontainer {
	  width: 600%; 
	  align-content: center;
	  margin: 0 auto;
	}

.slider {
  width: 600%;
  height: 25px; 
}

.frame {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    font-size: 18px;
    min-height: 300px;
    width: 1500px;
    margin: 0 auto;
}

.light-page {
    background-color: #f4f4f4;
    color: #4c4c4c;
    margin: 0 auto;
    padding: 4em 15%;
}

.light-page h1 {
    color: #000
}